body{
    background-attachment: scroll;
    /* background: linear-gradient(45deg, black, #272727); */
    background-color: black;
    color: white;
}
*{
    border: black solid 1px;
}
.full{
    height: 100%;
}
html, body{
    height: 100%;
}
.cent{
    margin: auto;
}
.textcent{
    text-align: center;
}
.bord{
    border: solid black 1px;
}
.customcard{
    margin: auto;
    width: 40%;
    height: 20%;
    max-width: 250px;
    color: white;
    background-color: black;
    border: solid white 1px;
}
.svglogo{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    border-radius: 50%;
    border: solid black 3px ;
    background-color: rgb(0, 174, 255);
}
.cyxbutton{
    background-color: white;
    border-radius: 10%;
    border: white solid 1px;
}
#top{
    margin: 45vh auto;
}
#middle{
    height: 100%;
}
#cyx{
    height: 100%;
    margin: 0 5%
}
#learnmore{
    width: 30%;
    min-height: 50px;
    min-width: 120px;
    max-width: 150px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #24a8e6;
    transition-duration: 0.4s;
}
#learnmore:hover{
    background-color: #24a8e6;
    border: 2px solid black;
    color: white;
}


.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }